<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Recipe
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <img src="https://webknox.com/recipeImages/{{recipe.id}}-556x370.jpg" style="width: 100%; border-radius: 0%">

  <div padding>

    <h1>{{recipe.title}}</h1>

    <br />

    <ion-list>
      <ion-list-header>
        <ion-label>You'll need these </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let ingredient of recipe.extendedIngredients">
        <ion-item>

          <fennel-todo-target>
            <img src="https://spoonacular.com/cdn/ingredients_100x100/{{ingredient.image}}">
          </fennel-todo-target>

          <div padding>
            <div style="font-weight: bold">{{ingredient.name}}</div>
            <div>{{ingredient.amount}} {{ingredient.unit}}</div>
            <div style="font-style: italic">{{ingredient.meta}}</div>
          </div>

        </ion-item>
      </ion-item>
    </ion-list>

    <ion-list *ngFor="let instruction of recipe.analyzedInstructions">
      <ion-list-header>
        <ion-label>Instructions: {{instruction.name}}</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let nextStep of instruction.steps">

        <ion-grid>
          <ion-row>
            <ion-col class="smoll-col">
              <fennel-todo-target>
                <ion-icon name="locate" class="step-target-crosshairs"></ion-icon>
              </fennel-todo-target>
            </ion-col>
            <ion-col>
              <div padding>
                {{nextStep.step}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="smoll-col">
              <div class="spacer-col"></div>
            </ion-col>
            <ion-col>
              <div padding *ngIf="stepHasAnyDisplayItems(nextStep)">
                <div style="display: inline-block" *ngFor="let equip of nextStep.equipment">
                  <fennel-todo-target>
                    <img src="https://spoonacular.com/cdn/equipment_100x100/{{equip.image}}">
                  </fennel-todo-target>
                </div>
                <div style="display: inline-block" *ngFor="let ingredient of nextStep.ingredients">
                  <fennel-todo-target>
                    <img src="https://spoonacular.com/cdn/ingredients_100x100/{{ingredient.image}}">
                  </fennel-todo-target>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
    </ion-list>

  </div>

</ion-content>