
.target-wrapper {
  // padding-inline-start: 0px; // disable left-padding
  // -webkit-padding-start: 0px; // disable left-padding
  --inner-border-width: 0px 0px 0px 0px; // disable double bottom border
}

.fav-slot {
  font-size: 25px;
  color: #bbb;
}

.fav-slot .liked {
  font-size: 25px;
  color: #d00;
}

.ghost {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
}

img {
    border-radius: 50%;   
}

.smoll-col {
  // set the column size to a set pixel size,
  // instead of percent
  flex: 0 0 100px;
}

.spacer-col {
  width: 110px;
}

.step-target-crosshairs {
  width: 97px; height: 97px; color: darkgray
}