<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ categoryType }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-virtual-scroll [items]="searchResults" approxItemHeight="370px">
    <ion-card *virtualItem="let recipeRef" [routerLink]="['/recipe/' + recipeRef.id]" color="primary">
      <ion-img [src]="'https://webknox.com/recipeImages/' + recipeRef.id + '-556x370.jpg'" style="height: 206px;"></ion-img>
      <ion-card-header>
        <h1 style="margin-top: 0px">{{ recipeRef.title }}</h1>
      </ion-card-header>
    </ion-card>
  </ion-virtual-scroll>

</ion-content>