<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-searchbar [(ngModel)]="searchValue"></ion-searchbar>
  <!-- 
    (ionChange)="goSearch()" 
    debounce="2000"
    // disabled out of concern for API request daily limits
  -->

  <br />

  <ion-button expand="full" fill="outline" (click)="goSearch()">
    Search
  </ion-button>

</ion-content>
