<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-searchbar [(ngModel)]="searchValue"></ion-searchbar>
  <!-- 
    (ionChange)="goSearch()" 
    debounce="2000"
    // disabled out of concern for API request daily limits
  -->

  <br />

  <ion-button expand="full" fill="outline" (click)="goSearch()">
    Search
  </ion-button>

  <!-- <ion-virtual-scroll [items]="recipeReferences" approxItemWidth="100%"> -->
    <!-- <ion-card *virtualItem="let recipeRef" [routerLink]="['/recipe/' + recipeRef.id]" color="primary"> -->
      <ion-card *ngFor="let recipeRef of recipeReferences" [routerLink]="['/recipe/' + recipeRef.id]" color="primary" style="margin: 20px 0;">
      <ion-img [src]="'https://webknox.com/recipeImages/' + recipeRef.id + '-556x370.jpg'"></ion-img>
      <ion-card-header>
        <h1 style="margin-top: 0px">{{ recipeRef.title }}</h1>
      </ion-card-header>
    </ion-card>
  <!-- </ion-virtual-scroll> -->

</ion-content>