<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-searchbar [(ngModel)]="searchValue"></ion-searchbar>
  <!-- 
    (ionChange)="goSearch()" 
    debounce="2000"
    // disabled out of concern for API request daily limits
  -->

  <br />

  <ion-button expand="full" fill="outline" (click)="goSearch()">
    Search
  </ion-button>

  <ion-virtual-scroll [items]="recipeReferences" approxItemHeight="370px">
    <ion-card *virtualItem="let recipeRef" [routerLink]="['/recipe/' + recipeRef.id]">
      <ion-img [src]="'https://webknox.com/recipeImages/' + recipeRef.id + '-556x370.jpg'" style="height: 206px;"></ion-img>
      <ion-card-header>
        <h1>{{ recipeRef.title }}</h1>
      </ion-card-header>
    </ion-card>
  </ion-virtual-scroll>

</ion-content>