<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons padding slot="end">
      <ion-icon [name]="'search'" [routerLink]="['/search']" style="font-size: 25px"></ion-icon>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item *ngFor="let bookmark of bookmarksTop3" style="padding-top: 10px">
      <ion-row [routerLink]="['/recipe/' + bookmark.recipeId]">
        <ion-col>
          <ion-img [src]="'https://webknox.com/recipeImages/' + bookmark.recipeId + '-556x370.jpg'"></ion-img>
        </ion-col>
        <ion-col>
          <h5>{{ bookmark.title }}</h5>
        </ion-col>
      </ion-row>
    </ion-item>

    <div padding *ngIf="bookmarkCount > 3" [routerLink]="['/bookmarks']" text-right style="font-style: italic; padding-bottom: 0px;">
      <ion-label>
        See all {{bookmarkCount}} bookmarks...
      </ion-label>
    </div>


  </ion-list>

  <ion-list *ngIf="historyTop4.length > 0" lines="none" style="padding-top: 0px">

    <ion-list-header>
      <ion-label style="font-weight: bold">Latest Searches</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let recentSearch of historyTop4">
      <ion-icon slot="start" color="medium" name="search"></ion-icon>
      <ion-label>{{recentSearch}}</ion-label>
    </ion-item>

  </ion-list>

</ion-content>