<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bookmarks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let bookmark of bookmarks" style="padding-top: 10px">
      <ion-row (click)="navigateToRecipe(bookmark.recipeId)">
        <ion-col>
          <ion-img [src]="'https://webknox.com/recipeImages/' + bookmark.recipeId + '-556x370.jpg'"></ion-img>
        </ion-col>
        <ion-col>
          <h5>{{ bookmark.title }}</h5>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

</ion-content>